.concept-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 6px;
}

.research-img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 6px;
}